@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.contenedor-principal {
    text-align: center;
    margin: 2rem 0;
}

.conjuntos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
    width: 250px;
    height: 250px;
}

.subimagenes {
    cursor: pointer;
    margin: 0 50px;
}